html,body{
  padding:0px;
  margin:0px;
}
img{
  border-radius:100%;
  height:300px;
  width:300px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:75px;
}

#header{
  height:100px;
  width:100%;
  background-color:black;
}

h4{
  text-align:center;
  #ffffff; font-family: 'Raleway',sans-serif;
  font-size: 100px;
  font-weight: 200;
  text-transform: uppercase;
  padding-top:5px;
  margin-top:0px;
  margin-bottom:0px;

}
h1{
  text-align:center;
  font-size:15px;
  margin:5px;
  #ffffff; font-family: 'Raleway',sans-serif;
  font-size: 15px;
  font-weight: 100;
  
}

h3{
  text-align:center;
  #ffffff; font-family: 'Raleway',sans-serif;
  font-size: 30px;
  font-weight: 100;
  text-transform: uppercase;
  padding-top:5px;
  margin-top:0px;
  margin-bottom:0px; 
}

#newComment{
  height:200px;
  width:60%;
  margin-left:auto;
  margin-right:auto;
  display:block;
}

h6{
 text-align:center;
  #ffffff; font-family: 'Raleway',sans-serif;
  font-size: 30px;
  font-weight: 100;
  text-transform: uppercase;
  padding-top:5px;
  margin-top:0px;
  margin-bottom:0px;
  color:white;
}
h5{
   margin-top:0px;
   margin-right:15px;
  text-align:center;
  font-size:15px;
  #ffffff; font-family: 'Raleway',sans-serif;
  font-size: 20px;
  display:inline-block;
  font-weight:20;
  color:white;
}
#ratingSlider{
  display:block;
  width:40%;
  margin-left:auto;
  margin-right:auto;
  display:inline-block;
  text-align:center;
}

#newRatingContainer{
  width:100%;
  height:500px;
  background-image:url(https://farm8.staticflickr.com/7144/26311556194_e6f088e312_c.jpg);
  text-align:center;
  padding-top:40px;
  margin-top:70px;
  background-position:cover;
  background-repeat:none;
  
}
#submit{
  margin-left:auto;
  margin-right:auto;
  
}

#textInput{
  display:inline-block;
  text-align:center;
}
