html,body{
  padding:0px;
  margin:0px;
}
img{
  border-radius:100%;
  height:300px;
  width:300px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:75px;
}

#header{
  height:100px;
  width:100%;
  background-color:black;
}

h4{
  text-align:center;
  #ffffff; font-family: 'Raleway',sans-serif;
  font-size: 100px;
  font-weight: 200;
  text-transform: uppercase;
  padding-top:5px;
  margin-top:0px;
  margin-bottom:0px;

}
h1{
  text-align:center;
  font-size:15px;
  margin:5px;
  #ffffff; font-family: 'Raleway',sans-serif;
  font-size: 15px;
  font-weight: 100;
  
}

h3{
  text-align:center;
  #ffffff; font-family: 'Raleway',sans-serif;
  font-size: 30px;
  font-weight: 100;
  text-transform: uppercase;
  padding-top:5px;
  margin-top:0px;
  margin-bottom:0px; 
}

#newComment{
  height:200px;
  width:60%;
  margin-left:auto;
  margin-right:auto;
  display:block;
}

h6{
  margin-top:30px;
  text-align:center;
  font-size:15px;
  #ffffff; font-family: 'Raleway',sans-serif;
  font-size: 15px;
  font-weight: 100;
  
}
#ratingSlider{
  display:block;
  width:40%;
  margin-left:auto;
  margin-right:auto;
  display:inline-block;
  
}

#newRatingContainer{
  width:100%;
  height:300px;
  background-color:#99BADD;
  
}
#submit{
  margin-left:auto;
  margin-right:auto;
  
}

#text-input{
  display:inline-block;
}
