
html, body{
  padding:0px;
  margin: 0px;
}
.dropdown {
    overflow:hidden;
    width:500px;
    margin-left:auto;
    background: url("images/dropdown_arrow.png") no-repeat #fff 319px 2px;
    /* dropdown_arrow.png is a 31x28 image */
    margin-right:auto;
    height:50px;
    
}
#menu{
  width:100%;
  height: 50px;
  background-color:black;
}

#Background{
  -webkit-filter: blur(5px);
  filter: blur(5px);
  margin:0px;
  padding:0px;
  width:100%;
  position:relative;
}
select {
    border:0;
    background:transparent;
    height:32px;
    border:1px solid #d8d8d8;
    width:350px;
    -webkit-appearance: none;
    color: red;
}

#splash {
  position: relative;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  background-image:url(https://farm8.staticflickr.com/7409/26643783000_7ccc7e2384_c.jpg);
  background-size:cover;
  height:500px;
}

form{
 position: relative;
  margin-left: auto;
  margin-right: auto;
}
h1 { 
  color: #ffffff; font-family: 'Raleway',sans-serif; font-size: 100px; font-weight: 800; line-height: 900px; text-align: center; text-transform: uppercase;
  
  margin-left:auto;
  margin-right:auto;
}

#main{
  background-color:black;
  width:100%;
  height: 300px;
  position:relative;
}
