#Topper{
  background : url("http://farm5.static.flickr.com/4119/4900978861_181ea90c0a.jpg");
  width : 100%;
  height : 400px;
  background-size:contain;
  position:relative;
  margin:0;
  
}
#Topper > p{
  font-family:Verdana;
  font-size:30px;
  color:white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
  }
  

body{
  background-color: gray;
}



